body {
  background-color: #9f588b;
  font-family: sans-serif;
  ;
}

ul {
  padding-left: 0;
}

ul li {
  list-style: none;
  margin-bottom: 10px;
  padding: 10px;
  border: rgb(177, 177, 177) 3px solid;
  border-radius: 3px;
  text-align: center;
}

.quiz-wrapper {
  background-color: white;
  width: 50%;
  margin: auto;
  padding: 1%;
  border: rgb(177, 177, 177) 10px solid;
  border-radius: 5px;
  display: flex;
  justify-content: center;
}

.progress {
  text-align: center;
}
